<main class="container-fluid mockup">
    <section class="row">
        <article class="col-12">
            <img  class="logo" src="https://res.cloudinary.com/manfuku/image/upload/v1552644929/insightscs/photos/iscs-r3-lockup_white.png">
        </article>
        <article class="col-12">
            <label>Status</label>
            <h1>Delivered</h1>
        </article>
        <article class="col-12">
            <label>Actual Delivery Date</label>
            <h4>28 Feb 2019 / 13:15</h4>
        </article>
        <article class="col-6">
            <label>Unit count</label>
            <h4>33</h4>
        </article>
        <article class="col-6">
            <label>Actual Unit count</label>
            <h4>30</h4>
        </article>
        <article class="col-12">
            <label>Loader name</label>
            <h4>Eusebio Santos</h4>
        </article>
        <article class="col-12">
            <label>Signature</label>
            <img src="https://res.cloudinary.com/manfuku/image/upload/w_640/e_colorize,co_white/insightscs/photos/Justin_Timberlake_signature.png">
        </article>
    </section>
</main>
