<header id="header" class="container-fluid">
    <section class="row">
      <article class="col">
    
      <main class="container">
        <section class="row align-items-center">
        <article class="col-auto mr-auto ">
          <a routerLink="/" routerLinkActive="active" class="d-block">
          <img class="logo" src="https://res.cloudinary.com/manfuku/image/upload/f_auto,q_auto,h_64/v1552438913/insightscs/iscs-r3-icon.png">
          <img class="wordmark" src="https://res.cloudinary.com/manfuku/image/upload/f_auto,q_auto,h_64/v1552438913/insightscs/iscs-r3-wordmark.png">
        </a>
        </article>
        <!--  <article class="col-auto d-none d-md-flex">
          <a routerLink="/products" routerLinkActive="active"> Products</a>
        </article>
        <article class="col-auto d-none d-md-flex">
          <a routerLink="/technologies" routerLinkActive="active"> Technologies</a>
          
        </article>-->
       
        </section>
      </main>
    
      </article>
    </section>
    </header>
   

<router-outlet>




</router-outlet>




<footer id="footer" class="container-fluid">
    <section class="row">
      <article class="col">
    
      <main class="container">
        <section class="row" >
        <article class="col-md ">
            <img  class="logo" src="https://res.cloudinary.com/manfuku/image/upload/v1552644929/insightscs/photos/iscs-r3-lockup_white.png">
        </article>
       
       </section>
        <section class="row" >
            <article class="col-md ">
                <h3>Headquarters</h3>
             <p> Ground Floor, CTP Alpha Tower<br>
              Investment Drive, Madrigal Business Park<br>
              Ayala Alabang, Muntinlupa, 1778, Philippines</p>
              <p><a href="mailto:info@InsightSCS.com" class="font-weight-bold">info@InsightSCS.com</a></p>
              <p>Proudly designed & engineered in The Republic of the Philippines.</p>
        </article>
       
       </section>
    
      </main>
    
      </article>
    </section>
    </footer>
   