//i1903

$xvc-red: #cd1d1d;
$color-primary: $xvc-red;
$color-hover: lighten($xvc-red, 10);

$font-primary: Poppins, serif;

body {
	color: #000;
	font: 1rem/1.375 Alegreya Sans, Merriweather Sans, serif;
	min-height: 100vh;
}

header#header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	padding-top: 1rem;
	//padding-bottom: 1rem;
	align-items: center;
	z-index: 1;
	//box-shadow: 0 0.25rem 0.75rem 0 rgba(#000, 0.05) 0 0.125rem 0.25rem 0 rgba(#000, 0.05);
	box-shadow: 0 0.25rem 0.5rem 0 rgba(#000, 0.05), 0 2px 4px 0 rgba(#000, 0.05);
	box-shadow: 0 0.125rem 0.75rem 0 rgba(#000, 0.05);
}

footer#footer {
	background: darken($color-primary,5);
	color: #fff;
 > .row {
	 padding-top: 8rem;
	 padding-bottom: 8rem;
 }
}

.logo,
.wordmark,
.product-logo {
	max-height: 2rem;
	@media (min-width: 768px) {
		max-height: 2.5rem;
	}
}
.logo {
	margin-right: 0.25rem;
}

img {
	max-width: 100%;
}
.product-logo {
//	margin: 0.25rem 0 1rem;
}
.intro {
	#home & {
		min-height: 100vh;
		color: #fff;
		background-image: url(https://res.cloudinary.com/manfuku/image/upload/q_auto/f_auto/b_black/o_65/c_fill/g_west/w_1700/h_1100/v1552435658/insightscs/photos/home.jpg);
		align-items: center;
		background-size: cover;
		background-position: center center;
		//   padding-bottom: 2rem;
		padding: 8rem 0;
		h1 {
			color: inherit;
			@media (min-width: 768px) {
				font-size: 3.5rem;
				font-size: 4rem;
			}
		}
	}
}

.container,
.container-fluid {
	padding: 0 1rem;
	.row {
		margin: 0 -1rem;
		> * {
			padding: 0 1rem;
			> *:not(.container):not(.container-fluid) {
				margin-bottom: 1rem;
			}
		}
	}
	.container,
	.container-fluid {
		padding: 0;
	}

	&.content {
		
		> .row {
			padding-top: 5rem;
			padding-bottom: 5rem;
			.container > .row {
				align-items: center;
			}
			&:nth-child(odd){
				background: darken(#fff,2.5);
				background: darken(#fff,5);
			}
		
	}
}
}

a {
	color: inherit;
	opacity: 0.9;
	&:hover {
		text-decoration: none;
		color: inherit;
		opacity: 1;
	}
}

h1,
h2 {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 3rem;
	@media (min-width: 768px) {
		font-size: 3.5rem;
	}
	line-height: 1;
	margin-bottom: 1.5rem;
	letter-spacing: -0.1rem;
}

h1 {
	// color: darken($color-primary,15);
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: inherit;
	font-size: 0.9rem;
	letter-spacing: 0.075rem;
	font-weight: 800;
	opacity: 0.5;
	text-transform: uppercase;
	margin-bottom: 0.5rem !important;
}

.dark {
	background: lighten(#000,15);
//	background:darken($color-primary,25);
	color: #fff;
}

ul.list-features {
	li {
		&::before{
			content: "check";
			font-family: Material Icons;
			font-size: 24px;
			vertical-align: middle;
			margin-right: 0.5rem;
			color: limegreen;

		}
	}
}
.lead {
	opacity: 0.75;
	&:after {
		content: "";
		display: block;
		background: darken(#fff, 25);
		margin: 2rem auto;
		width: 8rem;
		height: 0.25rem;
	}
}

.btn {
	font-family: $font-primary;
	//font-size: 0.9rem;
	font-weight: 700;
	border-radius: 3rem;
	&.btn-primary {
		background: $color-primary;
		border-color: $color-primary;
		&:hover {
			background: $color-hover;
		}
	}
	&.btn-link {
		vertical-align: middle;
		padding-left: 0;
		padding-right: 0;
		color: $color-primary;
		&:hover {
			color: $color-hover;
		}
	}
	&:hover {
		text-decoration: none;
	}
	.material-icons {
		display: none;
	}
}

.btn,
.material-icons {
	vertical-align: middle;
}


ul {
	list-style: none;
	padding: 0;
	li {
		margin-right: 1rem;
	}
}


app-mockup {
    z-index: 999;
	background: #cd2027;
	color: #fff;
    height: 100vh;
    overflow: hidden;
    position: absolute;
	width: 100vw;
	padding-top: 1rem;
	h1 {
		//font-size: rem;
	}
	label {
		text-transform: uppercase;
		font-size: 0.9rem;
		margin-bottom: 0.25rem !important;
		opacity: 0.5;
		font-weight: 700;
	}
}