<main id="home" class="container-fluid content">
  <section class="row intro">
    <article class="col">
      <main class="container ">
        <section class="row ">
          <article class="col-md-7 col-lg-6 ">
            <h1> Future-proof your supply chain operations today</h1>
            <p class="mb-4">
             

Establish next-gen logistics networks with technology driven collaboration and efficiency that provides a direct data relationship with carriers through an unbroken chain of custody right up to the point of delivery.
            </p>
            <button class="btn btn-primary ">Let's talk</button>
          </article>
        </section>
      </main>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <main class="container ">

        <section class="row mb-5 justify-content-center text-center ">
          <article class="col-lg-7">
            <h1>
              World-class software
              for the SCM 2.0 era
            </h1>
            <p class="lead px-md-5">
              Insight Supply Chain Solutions provides the tools you need from
              fleet dispatch, to transport management to supply chain financing.
            </p>
          </article>
        </section>

        <section class="row align-items-start">
          <article class="col-lg-4">
            <h3>Plan, Manage, & Track</h3>
            <img class="product-logo" src="https://res.cloudinary.com/manfuku/image/upload/f_auto,q_auto,h_64/v1552442700/insightscs/iscs-r3-dispatch.png" />
            <p>
              Assign shipments with ease. View current shipment status and history with Track & Trace feature. Real-time location updates backed by industry-grade vehicle tracking hardware.
              <p>
                <button class="btn btn-primary "> Learn more <i class="material-icons"> arrow_right_alt </i> </button>
              </p>
          </article>
          <article class="col-lg-4">
            <h3>Find the best rates</h3>
            <img class="product-logo" src="https://res.cloudinary.com/manfuku/image/upload/f_auto,q_auto,h_64/v1552442700/insightscs/iscs-r3-transport.png" />
            <p>
              Match with the best shippers and carriers on our online marketplace. Enhance efficiency and cost-savings by using our analytics feature and dashboards.
            </p>
            <p>
              <button class="btn btn-primary "> Learn more <i class="material-icons"> arrow_right_alt </i> </button>
            </p>
          </article>
          <article class="col-lg-4">
            <h3>Lower risks & faster payments</h3>
            <img class="product-logo" src="https://res.cloudinary.com/manfuku/image/upload/f_auto,q_auto,h_64/v1552442700/insightscs/iscs-r3-finance.png" />
            <p>
                Full visibility of all events across the supply-chain for  banks, lenders, and financial institutions enables
              faster payment processing secured by InsightSCS' blockchain.
            </p>
            <p>
              <button class="btn btn-primary "> Learn more <i class="material-icons"> arrow_right_alt </i> </button>
            </p>
          </article>
        </section>





      </main>
    </article>
  </section>


  <section class="row ">
    <article class="col">
      <main class="container ">

        

        <section class="row ">

            <article class="col-md-7 mr-auto ">
                <img src="https://res.cloudinary.com/manfuku/image/upload/e_trim/w_1200/f_auto/q_auto/v1552647608/insightscs/photos/epod.png">
              </article>

          <article class="col-md-5 ">
            <h3>Digital Proof of Delivery</h3>
            <h1>Quicker validation, reduced carbon footprint</h1>
            <p>InsightPOD creates a digital version of the shipment POD in an instant. Access these records online, 24/4 through our cloud servers and reduce costs by going paperless.</p>
           
          </article>
      
        </section>

      </main>

    </article>
  </section>


  
  <section class="row ">
      <article class="col">
        <main class="container ">
  
      
        
          
            <section class="row align-items-center">

               
            <article class="col-md-7 order-md-last">
                <img src="https://res.cloudinary.com/manfuku/image/upload/e_trim/f_auto,q_auto/insightscs/photos/smartcontracts.png">
              </article>


                <article class="col-md-5  ">
                  <h3>Blockchain technology</h3>
                  <h1>Smart Contracts<br> powered by Blockchain</h1>
                  <p>Trace all the steps from start to finish. Automate processes using our smart contracts.</p>
                  <ul class="list-features">
                    <li>Data tampering resistant</li>
                    <li>Real-time transactions</li>
                    <li>Reduced transaction costs</li>
                  </ul>
                </article>


          </section>
  
        </main>
  
      </article>
    </section>

    

  <section class="row ">
      <article class="col">
        <main class="container ">
  
          <section class="row  align-items-center ">
  
              <article class="col-md-6  ">
                  <img  class=" p-5" src=" https://res.cloudinary.com/manfuku/image/upload/f_auto/q_auto/e_saturation:15/v1552638794/insightscs/gv55.png">
                </article>
                
            <article class="col-md-6  mr-auto ">
              <h3>Vehicle Tracking Module</h3>
              <h1>Robust software matched by powerful hardware</h1>
              <p>We have partnered with the industry-leading manufacturers to provide a seamless system integrating our robust software with the latest in vehicle tracking technology.</p>
              <ul class="list-features">
                <li>GPS/GLONASS</li>
                <li>Geofence support</li>
                <li>Worldwide GSM compatibility</li>
                <li>Drving behavior monitoring</li>
                <li>Long lasting internal battery</li>
              </ul>
            </article>
          
          </section>
  
        </main>
  
      </article>
    </section>
  
  <section class="row ">
      <article class="col">
        <main class="container ">
  
          <section class="row align-items-center">
              <article class="col-md-7 order-md-last">
                  <img src="https://res.cloudinary.com/manfuku/image/upload/e_trim/f_auto,q_auto/insightscs/photos/dataanalysis.png">
                </article>
          
                
            <article class="col-md-5 ">
              <h3>Analytics Dashboards</h3>
              <h1>Custom data analysis tools </h1>
              <p>Get an overview on your fleet's performace over time. Find key areas of improvement to better maximize your resources.</p>
             
            </article>
         
          
          </section>
  
        </main>
  
      </article>
    </section>




</main>